USE [master]
GO
/****** Object:  Database [DAPP]    Script Date: 9/26/2019 9:00:38 AM ******/
CREATE DATABASE [DAPP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAPP', FILENAME = N'C:\Users\frang\DAPP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAPP_log', FILENAME = N'C:\Users\frang\DAPP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAPP]
GO
USE [DAPP]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/26/2019 9:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spells]    Script Date: 9/26/2019 9:00:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spells](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Casting_Time] [varchar](max) NOT NULL,
	[Components] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Duration] [varchar](max) NOT NULL,
	[Level] [int] NOT NULL,
	[Range] [varchar](max) NOT NULL,
	[School] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Spells] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
